$guru-font-family: ("Roboto", "Muli", "Helvetica Neue", "Arial", sans-serif);

$mat-toolbar-minimum-height: 44px;
$mat-toolbar-height-desktop: 44px;
$mat-toolbar-height-mobile: 44px;

$mat-toolbar-desktop-density-config: (
    height: (
        default: $mat-toolbar-height-desktop,
        maximum: $mat-toolbar-maximum-height-desktop,
        minimum: $mat-toolbar-minimum-height-desktop,
    ),
);

$mat-toolbar-mobile-density-config: (
    height: (
        default: $mat-toolbar-height-mobile,
        maximum: $mat-toolbar-maximum-height-mobile,
        minimum: $mat-toolbar-minimum-height-mobile,
    ),
);
