@mixin fuse-sidebar-theme($theme) {
    $background: map-get($theme, background);

    fuse-sidebar {
        background: map-get($background, background);

        // background: linear-gradient(0deg, #7b22a9 0%, #f5f5f5 12%);
        .navbar-header {
            min-height: $mat-toolbar-height-desktop;
            max-height: $mat-toolbar-height-desktop;
            height: $mat-toolbar-height-desktop;
        }
        // .navbar-content {
        //     background: url(/assets/images/backgrounds/nav-bg.png) no-repeat;
        //     background-size: 360px;
        //     background-position: bottom;
        //     background-color: rgba(242, 249, 253, 0);
        //     background-blend-mode: lighten;
        // }
    }

    .fuse-sidebar-overlay {
        background-color: rgba(0, 0, 0, 0.6);

        &.fuse-sidebar-overlay-invisible {
            background-color: transparent;
        }
    }
}
